<h1>Home (Admin)</h1>
<br/>

<p><b>Select Job #</b></p>
<% if @jobs.empty? %>
	<i>None</i>
<% else %>

	<ul>
	<% @jobs.each do |job| %>
		<% jobname = job.name %>
		<% if !job.job_number.nil? %>
		<% jobname = "Job #{job.job_number}" %>
		<% end%>
		<li><%= link_to jobname, job_url(job), method: :get %></li>
	<% end %>
	</ul>
<% end %>
<br/>
<%= link_to "New Job", new_job_url, method: :get %>
<br/>
<%= link_to "View All Timecards", timecards_url, method: :get %>
<br/>
<br/>


<br/>

	<b>All Users</b><br><br>
	<% User.all.each do |user| %>
		<%= user.email %><br/>
		Last signed in at: <%= zone(user.current_sign_in_at).strftime("%A, %B %e - %r") %><br/>
		IP: <%= user.current_sign_in_ip.to_s %><br>
		<% loc = user.user_locations.last %>
		Location: 
		<% if loc.nil? %>
			<% user.user_locations.create! %>
			Not found
		<% else %>
			<% loc.geocode if loc.latitude.nil? %>
			<% loc.reverse_geocode if loc.address.nil? %>
			<%= loc.address.nil? ? "#{loc.latitude}, #{loc.longitude}" : loc.address %>
		<% end %>
		<br/><br/>
	<% end %>

<br/>


<br/>
<br/>
<%= button_to "Sign Out", destroy_user_session_url, method: :delete %><br/>