
	

<h1>Home (Admin)</h1>
<br/>

<p><b>Select Job #</b></p>
<% if @jobs.empty? %>

	<i>None</i>
	<br/>
<% else %>

	<ul>
	<% @jobs.each do |job| %>
		<% jobname = job.name %>
		<% if !job.job_number.nil? %>
		<% jobname = "Job #{job.job_number}" %>
		<% end%>
		<li><%= link_to jobname, job_url(job), method: :get %></li>
	<% end %>
	</ul>
<% end %>
<br/>
<%= link_to "New Job", new_job_url, method: :get %>
<br/>
<%= link_to "View All Timecards", timecards_url, method: :get %>
<br/>
<br/>

<form method="GET" action="/download_week_csv">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<input type="hidden" name="user_id" value="all_users">
	<input type="submit" value="Download CSV file for all users (past 7 days)">
</form>
<br/>
<br/>

	<b>All Users</b><br><br>
	<% User.all.each do |user| %>
		<%= user.email %> - <%= link_to "Timecards", user_timecards_url(user), method: :get %><br/>
		<%= link_to "Weekly View", user_weeks_url(user), method: :get %><br/>
		Last signed in at: <%= zone(user.current_sign_in_at).strftime("%A, %B %e - %r") %><br/>
		IP: <%= user.current_sign_in_ip.to_s %><br>
		<% loc = user.user_locations.last %>
		Location: 
		<% if loc.nil? %>
			<br>
			Not found
		<% else %>
			<br>
			<% loc.reverse_geocode if loc.address.nil? %>
			<%= loc.address.nil? ? "#{loc.latitude}, #{loc.longitude}" : loc.address %>
		<% end %>
		<br/>
		<%= form_for(user, url: update_user_admin_url(user)) do |f| %>
			Admin <%= f.check_box "admin" %>
			<input type="submit" value="Update">
		<% end %>
		<br/>
	<% end %>

<br/>

<br/>
<button class="validate-clear-btn">
	Delete All Records
</button>

<form class="validate-clear-form" method="POST" action="/admin_db_clear">
	<input type="hidden" name="_method" value="DELETE">	
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<input type="submit" style="display: none;">
</form>

<br/>
<br/>
<%= button_to "Sign Out", destroy_user_session_url, method: :delete %><br/>