<h3>Finish Timecard for <%= @timecard.created_at.strftime("%A, %B %e")%></h3>
Time: <%= @timecard.get_clock %>
<br/>
<br/>
<br/>
<div class="timecard-form">
<%= form_for @actual do |f| %>
	<input type="hidden" name="timecard[task_id][]" value="">

	Select Job <%= select(:actual, :job_id, @jobs.map{|j| [j.get_name, j.id] }, {include_blank: true}, { class: 'select-job' }) %>
	<br/>
	Select Task <select class="select-task" id=""><option value="<%="&nbsp;"*26%>"></option></select>
	<div class="task-fields">
		<div class="fields">
		<input type="text" name="task[hours]" placeholder="# Hours" size="9" class="task-hours-field" />
	  <input type="text" name="task[quantity]" placeholder="Quantity" class="quantity-field" />
	  <input type="hidden" name="task[quantity_units]" value="units" />
	  <br/>
	  <input type="text" name="task[comments]" placeholder="Comments" class="comment-field" />
	  <input type="hidden" name="task[job_id]" value=""/>
	  <input type="hidden" name="task[user_id]" value="<%= current_user.id %>"/>
	  <br/>
  	</div>
  <button class="add-task">Add Task</button>
  <br/>
  </div>
  <br/>
  <button class="add-job">Add Job</button>
	<br/>


	<br/>
	<input type="submit" value="Submit"/>
<% end %>
</div>