<h1>New Timecard</h1>

<%= form_for @timecard do |f| %>
	<input type="hidden" name="timecard[user_id]" value="<%= current_user.id %>"/>
	<input type="submit" value="Start"/>
<% end %>

<br/>
<br/>

<h3>Previous Timecards</h3>

<% @timecards.each do |tc| %>
	<% next if tc.stop_time.nil? || tc.tasks.empty? %>

	<b><%= zone(tc.created_at).strftime("%F %T") %></b><br/>
	Clock: <%= tc.get_clock %><br/>
	Team Members: <%= tc.team_members %><br/>
	<% tc.tasks.each do |actual| %>
		<div class="actual">
		<p>
			<% task = actual %>
			<% if actual.bidtask_id != 0 %>

				<% task = Task.find(actual.bidtask_id) %>
				<% unless task.nil? %>
					<b><%= task.name %></b><br/>
					Quantity:	<span class="actlqty"><%= actual.quantity %></span>,
				<% end %>
			<% else %>
				<% job = Job.find(task.job_id) %>
				<% unless job.nil? %>
					Job: <%= job.name %><br/>
				<% end %>
			<% end %>
			Hours: <span class="actlhrs"><%= actual.hours %></span>,
			Comments: <%= actual.comments.nil? ? "None" : actual.comments %>,
			<% u = nil %>
			<% unless actual.user_id.nil? %>
				<% u = User.find(actual.user_id) %>
			<% end %>

			</p>
		</div>
	<% end %>
	<br/>

<% end %>