
<% admin = current_user.admin? %>
<%= link_to "Back", root_url, method: :get %>
<h1>Job <%= "#{@job.job_number}" %></h1>
<p>Tasks</p>
<ul>
<% if @job.tasks.empty? %>
	<li>None</li>
<% else %>
	<% @bidtasks.each do |task| %>
		<li class="task"><h3><%= task.name %></h3>
		
		<% if admin %>
			<%= button_to "Delete Task", task_url(task), method: :delete %>
		<% end %>
		<ul>
			<li>Total bid hours: <span class="bid-hours"><%= task.hours %></span></li>
			<li>Bid qty: <span class="bid-qty"><%= task.quantity %></span> <%= task.quantity_units %> </li>
			<li>Total actual hours: <span class="actual-hours"><%= task.get_actual_total(:hours) %></span></li>
			<li>Total actual quantity: <span class="actual-qty"><%= task.get_actual_total(:quantity) %></span></li>
			<li>Comments: <%= task.comments.nil? ? "None" : task.comments %></li>
			<% u = nil %>
			<% unless task.user_id.nil? %>
				<% u = User.find(task.user_id) %>
			<% end %>

			<li>Posted by: <%= u.nil? ? "" : u.email %></li>
			
			<% if admin %>
				Update:
				<%= form_for task do |f| %>
					<%= f.text_field :hours, placeholder: "Total hours", size: 9 %>
				  <%= f.text_field :quantity, placeholder: "Quantity", size: 7 %>
				  <%= f.select(:quantity_units, units) %>
				  <%= f.text_area :comments, rows: 1, cols: 15, placeholder: "Comments" %>
				  <input type="submit" value="Update Task">
				<% end %>
			<% end %>
			<br/>
			Bid Hours Per Unit:<input type="text-field" class="hours-per-unit" value="1.0"/><button class="ref-button" onclick="location.reload();">Refresh</button>
			<br/>
		</ul>
		Actual values:<br/>
		<% task.actual_tasks.each do |actual| %>

			<div class="actual">
			<p>
				Hours: <span class="actlhrs"><%= actual.hours %></span>,
				Quantity:	<span class="actlqty"><%= actual.quantity %></span>,
				Units: <%= actual.quantity_units %>,
				Date: <%= actual.created_at.strftime("%F %T") %>,
				Comments: <%= actual.comments.nil? ? "None" : actual.comments %>, 
				<% u = nil %>
				<% unless actual.user_id.nil? %>
					<% u = User.find(actual.user_id) %>
				<% end %>

				Posted by: <%= u.nil? ? "" : u.email %>&nbsp; <%= button_to "Delete Entry", task_url(actual), method: :delete %>
				</p>
			</div>

		<% end %>
		</li>
		<% if task.actual_tasks.empty? %>
		<ul><li>None</li></ul>
		<% end %>
		<br/>

		<% if !admin %>
			New Actual Entry:
			<%= form_for @task do |f| %>
			  <%= f.text_field :hours, placeholder: "Hours", class: "hours-field" %>
			  <%= f.text_field :quantity, placeholder: "Quantity", class: "quantity-field" %>
			  <%= f.select(:quantity_units, units) %>
			  <%= f.text_field :comments, placeholder: "Comments", class: "comment-field" %>
			  <input type="hidden" name="task[job_id]" value="<%= @job.id %>"/>
			  <input type="hidden" name="task[bidtask_id]" value="<%= task.id %>"/>
			  <input type="hidden" name="task[user_id]" value="<%= current_user.id %>"/>
			  <input type="submit" value="Create Task">
			<% end %>
			<br/>
		<% end %>
		<br/>
		<% unless task.actual_tasks.empty? %>
		<div class="task_chart" style="width: 900px; height: 500px"></div>
		<br/>
		<% end %>

	<% end %>
<% end %>
</ul>
<br/>
<br/>
<% if admin %>
	<h3>New Task:</h3>
	<%= form_for @task do |f| %>
		<%= f.label "Name:" %>
	  <%= f.text_field :name %><br/>
	  <%= f.label "Bid Hours:" %>
	  <%= f.text_field :hours %><br/>
	  <%= f.label "Bid Quantity:" %>
	  <%= f.text_field :quantity %>
	  <%= f.select(:quantity_units, units) %><br/>
	  <%= f.label "Comments:" %>
	  <%= f.text_area :comments, rows: 2, cols: 15 %>
	  <input type="hidden" name="task[job_id]" value="<%= @job.id %>"/>
	  <input type="hidden" name="task[user_id]" value="<%= current_user.id %>"/>
	  <input type="hidden" name="task[bid]" value="true"/>
	  <br/>
	  <input type="submit" value="Create Task">
	<% end %>
	<br/>
	<br/>

	



<% end %>
<br/>