<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<br/>
<h3>Instructions</h3>
<br/>
1.       Click “sign up” on home page and create an account by entering your email address (if you have a Keller email, use that one) and password.

2.       Check your email and confirm your account.

3.       Sign in with your email and password

4.       Hit Start button, you can now put your phone away and leave the webpage, you can even close it, your clock will still run you will just need to log back in at the end of the day if you close the webpage.

5.       Finish your work day

6.       At the end of your work day You go back to the site and log in or if the page is still up, enter your own name and hit “Stop and Submit”

7.       Click “your division” (Mechanical Services, Field Service, Construction) If you are working construction enter the time under the task you worked and for what job. If you don’t know the job number ask your supervisor.

8.       Enter any comments, If a comment is related to an incorrect time. Please specify the correct number of hours and the date, NOT just a clock out time.

9.       Click “submit” Button.